.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 70px;

  @include laptop {
    padding-bottom: 90px;
  }

  @include desktop {
    padding-bottom: 108px;
  }
}

.card-employee--right {
  &.card-employee {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .card-employee__name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 13px;
    align-items: center;
    justify-content: center;

    @include tablet {
      display: flex;
      flex-direction: column;
      text-align: start;
      padding: 0;
      max-width: 140px;
      max-height: 236px;
      order: 1;
    }

    @include laptop {
      max-width: 250px;
      gap: 20px;
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
    }

    @media (min-width: 1640px) {
      gap: 62px;
    }
  }

  .card-employee__name span:first-child {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 700;
    max-width: 196px;
    padding-left: 60px;

    @include tablet {
      padding: 0;
      width: 100%;
      text-align: left;
    }

    @include laptop {
      font-size: 20px;
    }

    @include desktop {
      font-size: 21px;
    }

    @media (min-width: 1640px) {
      min-width: 100%;
      text-align: left;
    }
  }

  .card-employee__name span:last-child {
    font-size: 13px;
    font-weight: 400;
    font-family: $font-secondary;
    color: $color-black;
    max-width: 198px;

    @include tablet {
      padding: 0;
      min-height: 100px;
    }

    @include laptop {
      font-size: 15px;
    }

    @include desktop {
      font-size: 20px;
    }

    @media (min-width: 1640px) {
      font-size: 22px;
    }
  }

  .card-employee img {
    @include tablet {
      padding: 0;
    }
  }

  .card-employee p {
    @include tablet {
      order: -1;
    }

    @include laptop {
      max-width: 30%;
      padding-left: 40px;
    }

    @include desktop {
      padding-left: 84px;
    }
  }
}

.card-employee--centre {
  .card-employee__name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    @include tablet {
      display: flex;
      flex-direction: column;
      text-align: left;
      order: 2;
      padding: 0;
      max-width: 140px;
      max-height: 236px;
    }

    @include laptop {
      max-width: 263px;
      justify-content: center;
      text-align: left;
    }

    @include desktop {
      gap: 40px;
    }

    @media (min-width: 1640px) {
      gap: 92px;
    }
  }

  .card-employee__name span:first-child {
    width: 100%;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

    @include tablet {
      padding: 0;
      width: 100%;
      text-align: left;
    }

    @include laptop {
      font-size: 20px;
    }

    @include desktop {
      font-size: 23px;
    }
  }

  .card-employee__name span:last-child {
    font-size: 14px;
    font-weight: 400;
    font-family: $font-secondary;
    color: $color-black;
    min-width: 198px;
    margin-left: -20px;

    @include tablet {
      padding: 0;
      min-width: 140px;
      margin: 0;
    }

    @include laptop {
      font-size: 15px;
      margin: 0;
    }

    @include desktop {
      font-size: 21px;
    }

    @media (min-width: 1640px) {
      min-width: 100%;
      font-size: 22px;
    }
  }
}

.card-employee {
  background-color: $color-muted;
  padding: 50px 0 50px 0;

  @include tablet {
    display: flex;
    max-height: 236px;
    padding: 0;
    gap: 20px;
    align-items: center;
  }

  @include laptop {
    gap: 80px;
  }

  @media (min-width: 1200px) {
    gap: 130px;
  }

  @include desktop {
    gap: 40px;
    max-height: 400px;
  }

  @media (min-width: 1640px) {
    min-height: 236px;
    gap: 90px;
  }
}

.card-employee__name {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-bottom: 25px;
  justify-content: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    text-align: start;
    order: 2;
    padding: 0;
  }

  @include laptop {
    max-width: 250px;
  }

  @include desktop {
    min-height: 236px;
    max-width: 250px;
  }

  @media (min-width: 1640px) {
    gap: 92px;
    min-width: 218px;
  }
}

.card-employee__name span:first-child {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 700;

  @include tablet {
    width: 100%;
  }

  @include laptop {
    font-size: 20px;
  }

  @include desktop {
    font-size: 23px;
  }
}

.card-employee__name span:last-child {
  font-size: 13px;
  font-weight: 400;
  font-family: $font-secondary;
  color: $color-black;
  max-width: 140px;

  @include tablet {
    padding: 0;
    width: 100%;
  }

  @include laptop {
    font-size: 15px;
  }

  @include desktop {
    font-size: 21px;
  }

  @media (min-width: 1640px) {
    min-width: 100%;
    font-size: 22px;
  }
}

.card-employee__photo-wrap {
  &:hover {
    .card-employee__photo {
      display: none;
    }

    .card-employee__photo-hover {
      display: block;
    }
  }
}

.card-employee__photo-hover {
  display: none;
}

.card-employee__photo-wrap img {
  max-width: 222px;
  min-height: 236px;
  margin: 0 auto;
  padding-bottom: 30px;

  @include tablet {
    order: -1;
    padding: 0;
    margin: 0;
  }

  @include desktop {
    min-width: 400px;
    max-height: 400px;
  }
}

.card-employee p {
  font-size: 14px;
  font-weight: 400;
  font-family: $font-secondary;
  color: $color-black;
  margin: 0 auto;
  max-width: 222px;

  @include tablet {
    order: 1;
  }

  @include laptop {
    margin: 0;
  }

  @media (min-width: 1200px) {
    min-width: 300px;
    font-size: 15px;
  }

  @include desktop {
    font-size: 20px;
    max-width: 411px;
  }
}
