.contact {
  padding: 80px 0 50px 0;

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
  }

  @include laptop {
    padding: 123px 0 130px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 180px;
    margin: 0 auto;
  }

  @include desktop {
    padding: 123px 0 130px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 193px;
  }
}

.contact__message h2 {
  font-family: $font-secondary;
  font-size: 27px;
  font-weight: 700;
  color: white;
  max-width: 190px;
  margin-bottom: 20px;

  > span {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: -200px;
      width: 84px;
      height: 58px;
      background-image: url("../../images/sprites/svg/circle-m.svg");
      background-repeat: no-repeat;
    }
  }

  @include laptop {
    max-width: 500px;
    font-size: 35px;
    margin-bottom: 40px;

    > span {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -20px;
        left: -18px;
        width: 119px;
        height: 83px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119.283' height='82.851' viewBox='0 0 119.283 82.851'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M0 0h110.887v68.081H0z' data-name='Rectangle 4'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg clip-path='url(%23a)' data-name='Group 7' transform='rotate(172 57.284 37.88)'%3E%3Cpath fill='%23d8ff01' d='M30.747 67.998c13.831-.052 27.726-.2 41.445-4.108a73.471 73.471 0 0 0 19.89-8.946 68.138 68.138 0 0 0 9.373-7.158 19.918 19.918 0 0 0 5.888-9.187c3.516-11.779-5.274-20.418-9.522-23.945-6.3-5.226-13.213-7.662-19.921-9.846a92.954 92.954 0 0 0-44.05-3.539c-6.942 1.127-14.069 2.526-20.775 6.459a27.629 27.629 0 0 0-8.75 7.639A22.313 22.313 0 0 0 .009 27.916C-.31 40.37 8.665 44.843 13.262 46.992c7.076 3.307 14.432 4.7 21.655 6.056 14.461 2.717 29.234 4.059 43.726 1.5a58.492 58.492 0 0 0 20.137-7.326 46.674 46.674 0 0 0 9.362-6.975 8.785 8.785 0 0 0 2.563-4.615 11.091 11.091 0 0 0-.981-6.8 22.491 22.491 0 0 0-3.954-5.541 36.415 36.415 0 0 0-4.176-3.993 42.752 42.752 0 0 0-9.494-5.715 133.251 133.251 0 0 0-21.3-7.436A135.633 135.633 0 0 0 26.207 1.91q-5.432.393-10.852 1.233A1.548 1.548 0 0 0 14 4.175c-.2.738.169.955.514.9a133.18 133.18 0 0 1 42.223.228 142.063 142.063 0 0 1 20.788 5.109c6.475 2.116 13.075 4.3 19.322 8.382a35.133 35.133 0 0 1 8.5 7.734 14.389 14.389 0 0 1 3.272 6.083 7.2 7.2 0 0 1-1.565 6.671 39.739 39.739 0 0 1-9.014 6.646 53.049 53.049 0 0 1-9.518 4.36c-13.251 4.552-26.928 4.1-40.309 2.643a159.213 159.213 0 0 1-21.382-3.833c-6.538-1.635-13.466-3.14-19.491-8.813a16.772 16.772 0 0 1-5.225-11.037 20.2 20.2 0 0 1 3.805-13.52 23.987 23.987 0 0 1 8.773-7.175 45.917 45.917 0 0 1 9.826-3.549 90.724 90.724 0 0 1 41.637-1.076 95.614 95.614 0 0 1 20.382 6.6 42.525 42.525 0 0 1 9.144 5.474 30.739 30.739 0 0 1 8.019 9.241 18.488 18.488 0 0 1 1.48 14.39c-1.522 4.441-4.2 6.736-6.6 8.733a69.2 69.2 0 0 1-18.53 11.119c-12.8 5.142-25.905 6.206-38.93 6.481a582.54 582.54 0 0 1-9.533.1 1.51 1.51 0 0 0-1.356 1.031c-.207.772.177.9.514.9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }

  }

  @include desktop {
    max-width: 520px;
    font-size: 40px;
    margin-bottom: 40px;

    > span {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -15px;
        left: -18px;
        width: 120px;
        height: 83px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119.283' height='82.851' viewBox='0 0 119.283 82.851'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M0 0h110.887v68.081H0z' data-name='Rectangle 4'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg clip-path='url(%23a)' data-name='Group 7' transform='rotate(172 57.284 37.88)'%3E%3Cpath fill='%23d8ff01' d='M30.747 67.998c13.831-.052 27.726-.2 41.445-4.108a73.471 73.471 0 0 0 19.89-8.946 68.138 68.138 0 0 0 9.373-7.158 19.918 19.918 0 0 0 5.888-9.187c3.516-11.779-5.274-20.418-9.522-23.945-6.3-5.226-13.213-7.662-19.921-9.846a92.954 92.954 0 0 0-44.05-3.539c-6.942 1.127-14.069 2.526-20.775 6.459a27.629 27.629 0 0 0-8.75 7.639A22.313 22.313 0 0 0 .009 27.916C-.31 40.37 8.665 44.843 13.262 46.992c7.076 3.307 14.432 4.7 21.655 6.056 14.461 2.717 29.234 4.059 43.726 1.5a58.492 58.492 0 0 0 20.137-7.326 46.674 46.674 0 0 0 9.362-6.975 8.785 8.785 0 0 0 2.563-4.615 11.091 11.091 0 0 0-.981-6.8 22.491 22.491 0 0 0-3.954-5.541 36.415 36.415 0 0 0-4.176-3.993 42.752 42.752 0 0 0-9.494-5.715 133.251 133.251 0 0 0-21.3-7.436A135.633 135.633 0 0 0 26.207 1.91q-5.432.393-10.852 1.233A1.548 1.548 0 0 0 14 4.175c-.2.738.169.955.514.9a133.18 133.18 0 0 1 42.223.228 142.063 142.063 0 0 1 20.788 5.109c6.475 2.116 13.075 4.3 19.322 8.382a35.133 35.133 0 0 1 8.5 7.734 14.389 14.389 0 0 1 3.272 6.083 7.2 7.2 0 0 1-1.565 6.671 39.739 39.739 0 0 1-9.014 6.646 53.049 53.049 0 0 1-9.518 4.36c-13.251 4.552-26.928 4.1-40.309 2.643a159.213 159.213 0 0 1-21.382-3.833c-6.538-1.635-13.466-3.14-19.491-8.813a16.772 16.772 0 0 1-5.225-11.037 20.2 20.2 0 0 1 3.805-13.52 23.987 23.987 0 0 1 8.773-7.175 45.917 45.917 0 0 1 9.826-3.549 90.724 90.724 0 0 1 41.637-1.076 95.614 95.614 0 0 1 20.382 6.6 42.525 42.525 0 0 1 9.144 5.474 30.739 30.739 0 0 1 8.019 9.241 18.488 18.488 0 0 1 1.48 14.39c-1.522 4.441-4.2 6.736-6.6 8.733a69.2 69.2 0 0 1-18.53 11.119c-12.8 5.142-25.905 6.206-38.93 6.481a582.54 582.54 0 0 1-9.533.1 1.51 1.51 0 0 0-1.356 1.031c-.207.772.177.9.514.9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }

  }

}

.contact__message p {
  font-weight: 300;
  font-family: $font-primary;
  font-size: 16px;
  color: white;
  max-width: 309px;
  margin-bottom: 30px;

  @include laptop {
    max-width: 510px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  @include desktop {
    max-width: 540px;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.contact__message a {
  font-weight: 300;
  font-family: $font-primary;
  font-size: 14px;
  color: white;
  text-decoration: underline;

  @include laptop {
    font-size: 20px;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  @include desktop {
    font-size: 20px;
  }
}


.contact__link-number {
  padding: 53px 0 29px 0;

  @include laptop {
    padding: 0 0 29px 0;
  }

  @include desktop {
    padding: 0 0 29px 0;
  }
}

.contact__link-number h3 {
  font-family: $font-secondary;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;

  @include laptop {
    font-size: 28px;
  }

  @include desktop {
    font-size: 28px;
    margin-top: 0;
  }
}

.contact__link-number a {
  font-family: $font-secondary;
  font-size: 22px;
  font-weight: 700;
  color: $color-primary;
  text-decoration: none;
  margin-bottom: 29px;

  @include laptop {
    font-size: 28px;
  }

  @include desktop {
    font-size: 28px;
  }
}

.contact__link-email h3 {
  font-family: $font-secondary;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;

  @include laptop {
    font-size: 28px;
  }

  @include desktop {
    font-size: 28px;
  }
}

.contact__link-email a {
  font-family: $font-secondary;
  font-size: 22px;
  font-weight: 700;
  color: $color-primary;

  @include laptop {
    font-size: 28px;
  }

  @include desktop {
    font-size: 28px;
  }
}
