footer.footer
  .container
    +contact("Is your brand ready for a boost, a kickstart or some much needed maintenance? We’re here to help! Our engine runs on coffee and we love sharing, so you’re welcome for a short pitstop at our office in Amsterdam. Or if you’d rather give us a call instead, we’ll be more than ready to answer it.", 'Contact us', "+31 20 60 60 920", "info@enginebranding.nl")
    .button.button--up.button--primary(type="button")
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55"><g transform="translate(-273 -4039)"><circle cx="27.5" cy="27.5" r="27.5" fill="#d8ff01" transform="translate(273 4039)"/><g fill="none" stroke="#202020" stroke-linecap="round" stroke-width="5"><path d="m300.5 4059.852 13.298 13.298"/><path d="m300.5 4059.852-13.298 13.298"/></g></g></svg>
  .container-lg
    .footer__copy
      .footer__copyright
        img.footer__copyright-logo(src="images/logo-engine.svg" alt="logo." width="" height="")
        span.footer__copyright-text Copyright 2024
      .footer__bottom-links
        a(href="/") Change cookie settings
        a(href="/") Privacy policy
