footer.footer-contact
  .container-lg
    .footer-contact__wrapper
      .footer-contact__invitation.text-default
        p Our engine runs on coffee and we love sharing, so you’re welcome for a short pitstop at our office in Amsterdam.
        .footer-contact__invitation-img
          img(src="images/footer-team.jpg" alt="Our team" width="950" height="636" loading="lazy")
      .footer-contact__location
        .footer-contact__address.text-default
          p Engine Branding &amp; Identity
          p Nieuwpoortkade 2a
          p 1055 RX Amsterdam
        .footer-contact__map
          img(src="images/map.jpg" alt="map" width="571" height="379" loading="lazy")
        +contact("", "", "+31 20 60 60 920", "info@enginebranding.nl")
    .button.button--up.button--primary(type="button")
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55"><g transform="translate(-273 -4039)"><circle cx="27.5" cy="27.5" r="27.5" fill="#d8ff01" transform="translate(273 4039)"/><g fill="none" stroke="#202020" stroke-linecap="round" stroke-width="5"><path d="m300.5 4059.852 13.298 13.298"/><path d="m300.5 4059.852-13.298 13.298"/></g></g></svg>
