extends pug/base

prepend vars

append vars

block content
  .container
    br
    a(href="home.html") Homepage
    br
    a(href="work.html") Work
    br
    a(href="services.html") Services
    br
    a(href="about-us.html") About us
    br
    a(href="contact.html") Contact
    br
    a(href="case-study.html") Case study
    br
    br
    br
    a(href="uikit.html") UI Kit
    br
    br
