extends pug/base

prepend vars
  - title = 'Work'

append vars

block content
  +page-header(
      'Work',
      'Projects <span>fueled</span> by engine<span>.</span>'
    )
  section.background-secondary
    .container
      .project__list
        +project("./images/project1.jpg", "./images/rode-kruis-white.svg", "RefugeeHomeNL - UX/UI, Web design, Web development", "Vivamus nec quam nec arcu mattis tincidunt. Sed a bibendum nulla.")
        +project("./images/project2.jpg", "./images/wiko.svg", "Brand refresh - Visual identity", "Vivamus nec quam nec arcu mattis tincidunt. Sed a bibendum nulla.", "lazy").project--left
        +project("./images/project3.jpg", "./images/zilter.svg", "Brand kickstart - Visual identity, Web design, Web development", "Vivamus nec quam nec arcu mattis tincidunt. Sed a bibendum nulla.", "lazy").project--right
        +project("./images/project4.jpg", "./images/rode-kruis-white.svg", "Campaign visuals - graphic design", "Vivamus nec quam nec arcu mattis tincidunt. Sed a bibendum nulla.", "lazy")
        +project("./images/project5.jpg", "./images/women.svg", "Brand refresh - Visual identity", "Vivamus nec quam nec arcu mattis tincidunt. Sed a bibendum nulla.", "lazy").project--left
        +project("./images/project6.jpg", "./images/nexios.svg", "Brand maintenance - UX/UI, web design", "Vivamus nec quam nec arcu mattis tincidunt. Sed a bibendum nulla.", "lazy").project--right
